{% extends "forum/Base.html" %}
{% load static %}

{% block content %}

    <form name="input" action="{% url 'login_page' %}" method="POST">
        <div class="Login">
            <h1>Log In</h1>

            {% csrf_token %}

            <div class="textLogin">
                <input class="user" type="text" name="username" placeholder="Username"><br>
            </div>
            <div class="textLogin">
                <input type="password" name="password" placeholder="Password"><br>
            </div>

            <input class="submitLogin" type="submit" value="Login">
        </div>

        {% if error %}<b>{{ error }}</b>{% endif %}

    </form>
{% endblock content %}