{% extends 'forum/Base.html' %}

{% block content %}
    {% if user %}

        <section class="profile">
            <h1>{{ user.first_name }} {{ user.last_name }}</h1>

            <picture class="profilepic">
                <img src="{{ user.forumuser.pic }}" alt="pic.jpg" width="270">
            </picture>
                <p> Email: {{ user.email }} </p>
                <p> Idade: {{ user_age }} </p>
            <p> Nível de Respeito: {{ user.forumuser.respect.title }}</p>
                <!-- Dá enfase aos likes. -->
            <h2> Likes: {{ user.like_set.count }} </h2>
        </section>
    {% endif %}
{% endblock content %}