{% extends "forum/Base.html" %}

{% block content %}

    <h1> Registo </h1>
    <form action="{% url 'register_page' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}

        # CAMPOS VALUE SO PARA TESTE
        Username:
        <input type="text" name="username" value="tiago"><br>
        email:
        <input type="email" name="email" value="tiago@gmail.com"><br>
        Password:
        <input type="password" name="password" value="pass"><br>
        Primeiro Nome:
        <input type="text" name="first_name" value="Tiago"><br>
        Último Nome:
        <input type="text" name="last_name" value="Fars"><br>
        Idade:
        <input type="number" name="age" value="19"><br>
        Foto:
        <input type="file" name="pic"><br>

        <input type="submit" value="Submit">

    </form>

{% endblock content %}