<!-- Register Page - Allows the user to create an account in the website -->

{% extends "forum/Base.html" %}

{% block content %}

    <form action="{% url 'register_page' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="register_container">
            <h1> Registo </h1>
            <div class="register_text">
                        <input type="text" name="username" placeholder="Username"><br>
                    </div>
            <div class="register_text">
                        <input type="email" name="email" placeholder="Email"><br>
                    </div>
            <div class="register_text">
                        <input type="password" name="password" placeholder="Password"><br>
                    </div>
            <div class="register_text">
                        <input type="text" name="first_name" placeholder="Primeiro Nome"><br>
                    </div>
            <div class="register_text">
                        <input type="text" name="last_name" placeholder="Último Nome"><br>
                    </div>
            <div class="register_text">
                        <input type="date" name="age" placeholder="Idade"><br>
                    </div>
                    <div class="picinput">
                        <input type="file" name="pic" ><br>
                    </div>
            <input class="register_submit" type="submit" value="Registar">
        </div>
    </form>

{% endblock content %}