<!-- About Page - Shows information about the page -->

{% extends "forum/Base.html" %}

{% block content %}
    <section class="about_container">
        <div class="about_info">
            <h1>Informações:</h1>
            <pre>
                O DebateIt foi criado com o objetivo de debater os mais diveros temas da sociedade.
                Esses temas encontram-se disponiveís para debate no separador Categorias
                Pensem no tema e comecem um Debate!
            </pre>


            <br>

            <h1>Regras:</h1>
            <pre>
                1. Não são permitidas ofensas entre membros do DebateIt.
                2. Não são permitidos comentários com conteúdo racista ou xenófobo.
                3. As discussões criadas pelos membros do DebateIt devem corresponder à categoria onde estão inseridas.
            </pre>

            <br>

            <h1>Contactos:</h1>

            <pre>
                Email: {{ email }}
                Contacto 1: {{ phone1 }}
                Contacto 2: {{ phone2 }}
            </pre>

        </div>
    </section>
{% endblock content %}