{% extends "forum/Base.html" %}

{% block content %}
    <h1>Informações:</h1>
    <p>O DebateIt foi criado com o objetivo de debater os mais diveros temas da sociedade.</p>
    <p>Esses temas encontram-se disponiveís para debate no separador Categorias</p>
    <p>Pensem no tema e comecem um Debate !</p>

    <br>

    <h2>Regras:</h2>
    <p>1.Não são permitidas ofensas entre membros do DebateIt.</p>
    <p>2.Não são permitidos comentários com conteudo racista ou xenófobo.</p>
    <p>3.As discussões criadas pelos membros do DebateIt devem corresponder à categoria onde estão inseridas.</p>

    <br>

    <h3>Contactos:</h3>

{% endblock content %}