<!-- About Page - Shows information about the page -->

{% extends "forum/Base.html" %}

{% block content %}
    <div class="info">
        <h1>Informações:</h1>
        <pre>
            O DebateIt foi criado com o objetivo de debater os mais diveros temas da sociedade.
            Esses temas encontram-se disponiveís para debate no separador Categorias
            Pensem no tema e comecem um Debate !
        </pre>
    </div>

    <br>

    <div class="rules">
        <h2>Regras:</h2>
        <pre>
            1.Não são permitidas ofensas entre membros do DebateIt.
            2.Não são permitidos comentários com conteudo racista ou xenófobo.
            3.As discussões criadas pelos membros do DebateIt devem corresponder à categoria onde estão inseridas.
        </pre>
    </div>

    <br>

    <div class="contacts">
        <h3>Contactos:</h3>
        <pre>
            tlm: 999999999
            email: debateit@gmail.com
        </pre>
    </div>

{% endblock content %}