{% extends "forum/Base.html" %}

{% block content %}
    <nav class="CategoriesNav">
        <menu class="MenuCategories">
                <h1> Categorias </h1>
            <ul>
                <li><a href=""> Desporto </a></li>
                <li><a href=""> Música </a></li>
                <li><a href=""> Política </a></li>
                <li><a href=""> Cinema </a></li>
                <li><a href=""> Tecnologia </a></li>
                <li><a href=""> Outros </a></li>
                </ul>
            </menu>
        </nav>
{% endblock content %}