<!-- Category Details - Displays all discussions in a certain Category -->

{% extends 'forum/Base.html' %}

{% block content %}

    <section class="category_container">
        <h1> {{ category.title }} </h1><br>

        {% if logged_in %}
            <div class="category_disc_add">
                <a href="{% url 'forum_add' category.key %}">
                    <button> Adicionar Discussão</button>
                </a>
            </div>
        {% endif %}

        <div class="category_disc_list">
            {% for disc in discussions %}
                <a href="{% url 'forum_discussion' disc.id %}">
                    <div class="category_row">
                        <p class="category_disc_title">{{ disc.title }}</p>
                        <hr>
                        <p class="category_disc_descr">{{ disc.descr }}</p>
                        <p class="category_disc_mode">{{ disc.mode.title }}</p>
                    </div>
                </a><br>
            {% endfor %}
        </div>

    </section>

{% endblock content %}