<!-- Categories Page - Shows all categories available -->
{% extends "forum/Base.html" %}

{% load static %}

{% block content %}
    <section class="categories_container">
        <h1> Categorias </h1>

        <div class="categories_buttons">
            {% for cat in categories %}
                <a href="{% url 'forum_category' cat.key %}">
                    {% with 'forum/'|add:cat.title|add:'.png' as image %}
                        <picture class="categories_image">
                            <img src="{% static image %}" width="380" height="220" alt="cat.png">
                        </picture>
                        <p>{{ cat.title }}</p>
                    {% endwith %}
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock content %}