<!-- Category Details - Displays all discussions in a certain Category -->

{% extends 'forum/Base.html' %}

{% block content %}

    <h1> {{ category.title }} </h1><br>

    {% for disc in discussions %}
        <a href="{% url 'forum_discussion' disc.id %}">
            <button> {{ disc.title }} </button>
        </a><br>
    {% endfor %}

    {% if logged_in %}
        <a href="{% url 'forum_add' category.key %}">
            <button> Adicionar Discussão</button>
        </a>
    {% endif %}

{% endblock content %}