{% extends "forum/Base.html" %}

{% block content %}
     <header class="MenuCategories">

        <nav>
            <menu>
                <h1> Categorias </h1>
                <ul class="Bar">
                    <li class="bar_line"><a> Desporto </a></li>
                    <li class="bar_line"><a> Música </a></li>
                    <li class="bar_line"><a> Política </a></li>
                    <li class="bar_line"><a> Cinema  </a></li>
                     <li class="bar_line"><a> Tecnologia  </a></li>
                     <li class="bar_line"><a> Outros  </a></li>
                </ul>
            </menu>
        </nav>

    </header>
{% endblock content %}