<!-- Debate Sign In Page - Allows a user to sign in a DebateIt discussion -->

{% extends 'forum/Base.html' %}

{% block content %}

    <section class="signup_container">
        <h1> Discussão: <br> {{ discussion.title }} <br> - Inscrição </h1>

        <form name="input" action="{% url 'forum_signup' %}" method="POST">

            {% csrf_token %}

            <input type="hidden" name="disc" value="{{ discussion.id }}">

            <p> Escolha a sua equipa: </p>
            {% for option in options %}
                <div class="signup_options">
                    <input type="radio" name="option" value="{{ option.key }}">{{ option.title }}
                </div>
            {% endfor %}

            <br>

            <div class="signup_submit">
                <input type="submit" value="Inscrever">
            </div>

        </form>

    </section>

{% endblock content %}