{% extends 'forum/Base.html' %}

{% load static %}

{% block content %}
    <h1>{{ discussion.title }}</h1>

    {% for post in posts %}

        <section class="post_container">

            <picture class="post_pic">
                <img src="{{ post.owner.forumuser.pic }}" alt="profile_pic" width="55">
            </picture>
            <p class="post_username">{{ post.owner.username }} </p>

            <p class="post_text"> {{ post.text }} </p>
            <p class="post_likes"> Likes: {{ post.like_set.count }} </p>

            <a class="like_button "><img src="{% static "forum/like_button.png" %}" width="30"></a>

        </section>
    {% endfor %}

    {% if logged_in %}
        <form name="input" action="{% url 'forum_discussion' discussion.id %}" method="POST">
            <section class="Login">
                <h1> Comentar </h1>
                <hr>
                {% csrf_token %}

                <div>
                    <textarea type="text" name="comment" placeholder="Comentário" cols="50" rows="10"></textarea><br>
                </div>

                <input class="submitLogin" type="submit" value="Comentar">
            </section>
        </form>
    {% endif %}

{% endblock %}