{% extends 'forum/Base.html' %}

{% block content %}
    <h1>{{ discussion.title }}</h1>

    {% for post in posts %}
        {{ post.text }} <br>
    {% endfor %}

    {% if logged_in %}
        <form name="input" action="{% url 'forum_discussion' discussion.id %}" method="POST">
            <section class="Login">
                <h1> Comentar </h1>
                <hr>
                {% csrf_token %}

                <div>
                    <textarea type="text" name="comment" placeholder="Comentário" cols="50" rows="10"></textarea><br>
                </div>

                <input class="submitLogin" type="submit" value="Comentar">
            </section>
        </form>
    {% endif %}

{% endblock %}