.MenuBar {
    background-color: #333;
    padding-top: 30px;
    width: 100%;
    height: 100%;
}

.Logo{
    float: right;
    width: 200px;
    margin-right: 20px;
}

.Bar {
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.bar_line{
    float: left;
}

.bar_line a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.bar_line a:hover {
  background-color: #111;
}

.Content {
    background-color: #777;
    height: 100%;
}

.MenuCategories {
    background-color: #006400;
    padding-top: 2px;
    width: 100%;
    height: 100%;
}

.Login {
    margin: 300px;
    padding: 40px;
    background-color: #cc6600;
    position: center;
    text-align: center;
}

.Login h1 {
    color: #2eb82e;
    font-family: "MS Outlook";
    font-size: 30px;
    font-weight: bold;

}

